# Python version requirement
#python==3.11

# All environment

absl-py==2.2.2
chex==0.1.86
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
etils==1.12.2
filelock==3.18.0
flax==0.8.3
fonttools==4.57.0
fsspec==2025.3.2
importlib_resources==6.5.2
jax==0.4.26
jaxlib==0.4.26
Jinja2==3.1.6
kiwisolver==1.4.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.8.3
mdurl==0.1.2
ml_dtypes==0.5.1
mpmath==1.3.0
msgpack==1.1.0
nest-asyncio==1.6.0
networkx==3.4.2
numpy==1.26.4
opt_einsum==3.4.0
optax==0.2.2
orbax-checkpoint==0.5.11
packaging==25.0
pillow==11.2.1
pip==23.2.1
protobuf==6.30.2
Pygments==2.19.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
PyYAML==6.0.2
rich==14.0.0
scipy==1.12.0
setuptools==68.2.0
six==1.17.0
sympy==1.13.3
tensorstore==0.1.74
toolz==1.0.0
torch==2.2.2
tqdm==4.66.2
treescope==0.1.9
typing_extensions==4.13.2
wheel==0.41.2
zipp==3.21.0
